page-notification{
    .cs-menu-item ion-icon {
        color: #f53d3d;
    }
    
    .cs-footer{
        position: absolute;
        bottom: 0;
        padding: 0;
    }
 
    .cs-wizard .cs-footer , .cs-footer ion-row , .cs-footer ion-col{
        padding: 0;
    }
 
    .cs-footer button{
    margin: 0;
     padding: 0;
    }
}