page-sort{
   .sorthead{
       margin-bottom:0px;
       border-bottom: 2px solid #ddd;
   }
    .zeropad{
        padding:0px;
    }
    .sortbutton{
        padding: 0px;
        text-align: center;
    }
}
   
