<ion-header>
    <ion-navbar>
       <ion-title>Forgot Password</ion-title>
       <ion-buttons end>
          <button ion-button clear mode="ios" (click)="closeModal()">
             <ion-icon name="close"></ion-icon>
          </button>
       </ion-buttons>
    </ion-navbar>
 </ion-header>
 <ion-content>
    <form #forgotForm="ngForm" (ngSubmit)="forgotForm.valid && forgot()">
    <ion-list>
       <br>
       <ion-item>
          <ion-label floating> Email Id</ion-label>
          <ion-input type="email" [(ngModel)]="email" name="email" required #username="ngModel"></ion-input>
       </ion-item>
       <div class="error">
          <small *ngIf="username.errors && (username.dirty || username.touched ||forgotForm.submitted)">
          <small *ngIf="username.errors.required">
          Email is required.
          </small>
          </small>
       </div>
       <ion-grid text-uppercase padding>
          <button ion-button block color="danger">Send</button>
       </ion-grid>
    </ion-list>
    </form>
 </ion-content>