<ion-header>
    <ion-navbar>
       <ion-toolbar>
          <ion-title>Change Password</ion-title>
          <ion-buttons end>
             <button ion-button clear mode="ios" (click)="closeModal()">
                <ion-icon name="close"></ion-icon>
             </button>
          </ion-buttons>
       </ion-toolbar>
    </ion-navbar>
 </ion-header>
 <ion-content>
    <form #changepassword="ngForm" (ngSubmit)="changepassword.valid && changePassword()">
    <ion-item>
       <ion-icon item-start name="lock"></ion-icon>
       <ion-label floating>Current Password</ion-label>
       <ion-input type="password" [(ngModel)]="changePasswordPayload.current_password" required name="password" #pwd="ngModel" ></ion-input>
    </ion-item>
    <div class="error err">
       <small *ngIf="pwd.errors && (pwd.dirty || pwd.touched || changepassword.submitted)">Current Password is Required</small>
    </div>
    <ion-item>
       <ion-icon item-start name="lock"></ion-icon>
       <ion-label floating>New Password</ion-label>
       <ion-input type="password" [(ngModel)]="changePasswordPayload.new_password" name="new_password" required [type]="passwordType" clearOnEdit="false" #newpwd="ngModel" ></ion-input>
       <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
    </ion-item>
    <div class="error err">
       <small *ngIf="newpwd.errors && (newpwd.dirty || newpwd.touched || newpwd.submitted)">New Password is Required</small>
    </div>
    <br>
    <ion-grid text-uppercase padding>
       <button ion-button block color="danger" type="submit">Save</button>
    </ion-grid>
    </form>
 </ion-content>