page-search {
    .searchselect .label {
    
    }
    .searchselect{
        border-bottom: 1px solid #e13838;
        margin:0;
    }
    .searchbar-md{
        padding:0px;
    }
    .item-md ion-avatar ion-img, .item-md ion-avatar img{
        border-radius: 0 !important;
    }
    .cs-menu-item ion-icon {
        color: #f53d3d;
    }
    .locbtn{
    padding: 0 0.6em;
    height: 15px !important;
    font-size: 1.2rem;
    color: red;
    }
}
