page-profile {
    .cs-img-section{
        width:100%;
        padding: 8px;
   }
    .cs-img-section img {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 90px;
        height: 90px;
        border-radius:50%;
   }
    .cs-bg-img{
        background: #f32d27;
       /* Old browsers */
        background: -moz-linear-gradient(45deg, #f32d27 5%, #ff6b45 99%);
       /* FF3.6+ */
        background: -webkit-gradient(linear, left bottom, right top, color-stop(5%,#f32d27), color-stop(99%,#ff6b45));
       /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(45deg, #f32d27 5%,#ff6b45 99%);
       /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(45deg, #f32d27 5%,#ff6b45 99%);
       /* Opera 11.10+ */
        background: -ms-linear-gradient(45deg, #f32d27 5%,#ff6b45 99%);
       /* IE10+ */
        background: linear-gradient(45deg, #a75755 5%, #f53d3d 99%);
       /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f32d27', endColorstr='#ff6b45',GradientType=1 );
       /* IE6-8 fallback on horizontal gradient */
        position:absolute;
        -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.54);
        -moz-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.54);
        box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.54);
   }
    .cs-profile{
        text-align: center;
        color: #fff;
   }
    .cs-tab-container{
        position: relative;
        top: 170px;
   }
    ul {
        padding: 0px;
        margin:0;
        &.rating li {
            padding: 0px 0px !important;
            background: none;
            color: #f53d3d;
            ion-icon {
                font-size: 24px;
           }
       }
   }
    .cs-notifi ion-label{
        white-space: unset !important;
   }
    .cs-notifi ion-thumbnail img {
        width: 65px !important;
        height: 65px!important;
   }
    .cs-notifi ion-thumbnail{
        min-width: 65px;
        min-height: 65px;
   }
    .not-day{
        position: absolute;
        right: 5%;
        top: 10px;
   }
}
