<ion-header>
  <ion-navbar>
     <!--<ion-title>Home</ion-title>-->
     <ion-toolbar>
        <ion-title>{{name}}</ion-title>
        <ion-buttons end>
           <button ion-button clear mode="ios" (click)="closeModal()">
              <ion-icon name="close"></ion-icon>
           </button>
        </ion-buttons>
     </ion-toolbar>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <p>Tell us what you love about the app, or what we could be doing better.
  </p>
  <form #feedbackForm="ngForm" (ngSubmit)="feedbackForm.valid && feedBackSubmit()">
  <ion-item>
     <ion-label>Email</ion-label>
     <ion-input type="text" [(ngModel)]="feedbackPayload.email" name="eml" #email="ngModel" required></ion-input>
  </ion-item>
  <div class="error">
     <small *ngIf="email.errors && (email.dirty || email.touched || feedbackForm.submitted)">Email Required</small>
  </div>
  <ion-item>
     <ion-label>Feed Back</ion-label>
     <ion-textarea style="height:135px" [(ngModel)]="feedbackPayload.feedback" name="feedback" #feed="ngModel" required></ion-textarea>
  </ion-item>
  <div class="error">
     <small *ngIf="feed.errors && (feed.dirty || feed.touched || feedbackForm.submitted)">feedback Required</small>
  </div>
  <button ion-button type="submit" color="danger" block>Submit</button>
  </form>
</ion-content>